<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdf.dao.person.InfoPersonLiveMapper" >
  <resultMap id="BaseResultMap" type="com.zdf.entity.person.InfoPersonLive" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="person_id" property="personId" jdbcType="BIGINT" />
    <result column="build_id" property="buildId" jdbcType="BIGINT" />
    <result column="floor_id" property="floorId" jdbcType="BIGINT" />
    <result column="room_id" property="roomId" jdbcType="BIGINT" />
    <result column="householder_person_id" property="householderPersonId" jdbcType="BIGINT" />
    <result column="relation_with_householder" property="relationWithHouseholder" jdbcType="VARCHAR" />
    <result column="live_way" property="liveWay" jdbcType="VARCHAR" />
    <result column="live_reason" property="liveReason" jdbcType="VARCHAR" />
    <result column="live_where" property="liveWhere" jdbcType="VARCHAR" />
    <result column="have_insurance" property="haveInsurance" jdbcType="CHAR" />
    <result column="insurance_buydate" property="insuranceBuydate" jdbcType="DATE" />
    <result column="live_sdate" property="liveSdate" jdbcType="DATE" />
    <result column="live_edate" property="liveEdate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="BIGINT" />
    <result column="subject_type" property="subjectType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, person_id, build_id, floor_id, room_id, householder_person_id, relation_with_householder, 
    live_way, live_reason, live_where, have_insurance, insurance_buydate, live_sdate, 
    live_edate, create_by, create_date, update_by, update_date, del_flag, remarks, subject_id, 
    subject_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from info_tb_person_live
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <!-- 关联人口 -->
  <select id="finList" resultType="com.zdf.entity.person.InfoPersonLive">
   SELECT 
    a.id as 'id',
  	a.build_id as 'buildId',
   	a.floor_id as 'floorId',
   	a.room_id as 'roomId',
   	a.live_way as 'liveWay',
   	a.live_reason as 'liveReason',
   	a.live_sdate as 'liveSdate',
   	a.live_edate as 'liveEdate',
   	a.create_by as 'createBy',
   	a.create_date as 'createDate',
   	a.update_date as 'updateDate',
   	a.update_by as 'updateBy',
   	p.name as 'person.name',
   	p.person_type as 'person.personType',
   	p.sex as 'person.sex',
   	p.nation as 'person.nation',
   	p.edu_level as 'person.eduLevel',
   	p.political as 'person.political',
   	p.maria_type as 'person.mariaType',
   	p.cred_type as 'person.credType',
   	c.cred_num as 'personCred.credNum',
   	c.address as 'personCred.address',
   	c.government as 'personCred.government'
  FROM info_tb_person_live a
  LEFT JOIN info_tb_person p ON a.person_id=p.id
  LEFT JOIN info_tb_person_cred c ON p.id=c.person_id
  <where>
  	<if test="id != null and id != ''">AND a.id=#{id}</if>
  	
  	<choose>
  	<when test="personId != null and personId != ''">AND p.id=#{personId}</when>
  	<when test="person != null and person.id != null and person.id != ''">
  		AND p.id=#{person.id}</when>
  	</choose>
  	
  </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from info_tb_person_live
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zdf.entity.person.InfoPersonLive" >
    insert into info_tb_person_live (id, person_id, build_id, 
      floor_id, room_id, householder_person_id, 
      relation_with_householder, live_way, live_reason, 
      live_where, have_insurance, insurance_buydate, 
      live_sdate, live_edate, create_by, 
      create_date, update_by, update_date, 
      del_flag, remarks, subject_id, 
      subject_type)
    values (#{id,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, #{buildId,jdbcType=BIGINT}, 
      #{floorId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, #{householderPersonId,jdbcType=BIGINT}, 
      #{relationWithHouseholder,jdbcType=VARCHAR}, #{liveWay,jdbcType=VARCHAR}, #{liveReason,jdbcType=VARCHAR}, 
      #{liveWhere,jdbcType=VARCHAR}, #{haveInsurance,jdbcType=CHAR}, #{insuranceBuydate,jdbcType=DATE}, 
      #{liveSdate,jdbcType=DATE}, #{liveEdate,jdbcType=DATE}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{subjectId,jdbcType=BIGINT}, 
      #{subjectType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zdf.entity.person.InfoPersonLive" >
    insert into info_tb_person_live
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="buildId != null" >
        build_id,
      </if>
      <if test="floorId != null" >
        floor_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="householderPersonId != null" >
        householder_person_id,
      </if>
      <if test="relationWithHouseholder != null" >
        relation_with_householder,
      </if>
      <if test="liveWay != null" >
        live_way,
      </if>
      <if test="liveReason != null" >
        live_reason,
      </if>
      <if test="liveWhere != null" >
        live_where,
      </if>
      <if test="haveInsurance != null" >
        have_insurance,
      </if>
      <if test="insuranceBuydate != null" >
        insurance_buydate,
      </if>
      <if test="liveSdate != null" >
        live_sdate,
      </if>
      <if test="liveEdate != null" >
        live_edate,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="subjectType != null" >
        subject_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=BIGINT},
      </if>
      <if test="buildId != null" >
        #{buildId,jdbcType=BIGINT},
      </if>
      <if test="floorId != null" >
        #{floorId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="householderPersonId != null" >
        #{householderPersonId,jdbcType=BIGINT},
      </if>
      <if test="relationWithHouseholder != null" >
        #{relationWithHouseholder,jdbcType=VARCHAR},
      </if>
      <if test="liveWay != null" >
        #{liveWay,jdbcType=VARCHAR},
      </if>
      <if test="liveReason != null" >
        #{liveReason,jdbcType=VARCHAR},
      </if>
      <if test="liveWhere != null" >
        #{liveWhere,jdbcType=VARCHAR},
      </if>
      <if test="haveInsurance != null" >
        #{haveInsurance,jdbcType=CHAR},
      </if>
      <if test="insuranceBuydate != null" >
        #{insuranceBuydate,jdbcType=DATE},
      </if>
      <if test="liveSdate != null" >
        #{liveSdate,jdbcType=DATE},
      </if>
      <if test="liveEdate != null" >
        #{liveEdate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null" >
        #{subjectType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdf.entity.person.InfoPersonLive" >
    update info_tb_person_live
    <set >
      <if test="personId != null" >
        person_id = #{personId,jdbcType=BIGINT},
      </if>
      <if test="buildId != null" >
        build_id = #{buildId,jdbcType=BIGINT},
      </if>
      <if test="floorId != null" >
        floor_id = #{floorId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="householderPersonId != null" >
        householder_person_id = #{householderPersonId,jdbcType=BIGINT},
      </if>
      <if test="relationWithHouseholder != null" >
        relation_with_householder = #{relationWithHouseholder,jdbcType=VARCHAR},
      </if>
      <if test="liveWay != null" >
        live_way = #{liveWay,jdbcType=VARCHAR},
      </if>
      <if test="liveReason != null" >
        live_reason = #{liveReason,jdbcType=VARCHAR},
      </if>
      <if test="liveWhere != null" >
        live_where = #{liveWhere,jdbcType=VARCHAR},
      </if>
      <if test="haveInsurance != null" >
        have_insurance = #{haveInsurance,jdbcType=CHAR},
      </if>
      <if test="insuranceBuydate != null" >
        insurance_buydate = #{insuranceBuydate,jdbcType=DATE},
      </if>
      <if test="liveSdate != null" >
        live_sdate = #{liveSdate,jdbcType=DATE},
      </if>
      <if test="liveEdate != null" >
        live_edate = #{liveEdate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectType != null" >
        subject_type = #{subjectType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdf.entity.person.InfoPersonLive" >
    update info_tb_person_live
    set person_id = #{personId,jdbcType=BIGINT},
      build_id = #{buildId,jdbcType=BIGINT},
      floor_id = #{floorId,jdbcType=BIGINT},
      room_id = #{roomId,jdbcType=BIGINT},
      householder_person_id = #{householderPersonId,jdbcType=BIGINT},
      relation_with_householder = #{relationWithHouseholder,jdbcType=VARCHAR},
      live_way = #{liveWay,jdbcType=VARCHAR},
      live_reason = #{liveReason,jdbcType=VARCHAR},
      live_where = #{liveWhere,jdbcType=VARCHAR},
      have_insurance = #{haveInsurance,jdbcType=CHAR},
      insurance_buydate = #{insuranceBuydate,jdbcType=DATE},
      live_sdate = #{liveSdate,jdbcType=DATE},
      live_edate = #{liveEdate,jdbcType=DATE},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=BIGINT},
      subject_type = #{subjectType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>